<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BorrarUsu</servlet-name>
        <servlet-class>Servlet.BorrarUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarUsu</servlet-name>
        <servlet-class>Servlet.GuardarUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>Servlet.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AumentarProgresoEZ</servlet-name>
        <servlet-class>Servlet.AumentarProgresoEZ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AumentarProgresoHD</servlet-name>
        <servlet-class>Servlet.AumentarProgresoHD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarDif1</servlet-name>
        <servlet-class>Servlet.ActualizarDif1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BorrarUsu</servlet-name>
        <url-pattern>/BorrarUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarUsu</servlet-name>
        <url-pattern>/GuardarUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AumentarProgresoEZ</servlet-name>
        <url-pattern>/AumentarProgresoEZ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AumentarProgresoHD</servlet-name>
        <url-pattern>/AumentarProgresoHD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarDif1</servlet-name>
        <url-pattern>/ActualizarDif1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
