:root{
    --fondo: #9FA9FA;
    --boton: #7F88C7;
    --cuadro: #4E537A;
    --blanco: #ffffff;

    
    --bg: #1a1e24;
    --color: #eee;
    --font: Montserrat, Cairo,Roboto, Helvetica, Arial, sans-serif, Noto serif;

    --barraavance: 50%;

}

body{
    background-color: var(--fondo);
}

/*acordeones*/
.accordion {
    width: 450px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 4px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
  
.accordion-header {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    width: 100%;
    background: #2A337A;
    border: none;
    outline: none;
    border-bottom: 1px solid #2A337A;
    color: #f3f3f3;
    cursor: pointer;
}
  
.accordion-header.active {
    background-color: #2A337A;
}
.accordion-header.active i {
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
}
  
.accordion-body {
    padding: 0 1rem;
    background-color: rgba(139, 112, 216, 0.56);
    max-height: 0;
    color: #f3f3f3;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
  
.accordion-body.active {
    max-height: 10rem;
    padding: 1rem;
}

.grid{
    display: grid;
    grid-template-columns: 30% 70%;
}

.usuario{
    padding: 1em;
}

.boton{
    padding: 1em;
}


.usuario{
    background-color: var(--fondo);
    border-bottom: 10px solid var(--blanco);
    border-right: 10px solid var(--blanco);
}

.act{
    background-color: var(--fondo);
    border-right: 10px solid var(--blanco);
    height: 720px;
}

.proceso{
    background-color: var(--boton);
    padding: 1em;
    border-radius: 10px;
    height: 890px;
}

.cuadrousu{
    background-color: #DFEEE5;
    border-radius: 70px;
    height: 150px;
}

.cuadrousu p{

    position: absolute;
    width: 282px;
    height: 74px;
    left: 180px;
    top: 13px;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 74px;
}

.imgusu{
    position: relative;
    width: 125px;
    float: left;
    left: 16px;
    top: 12px;
}

.bloqest{
    position: relative;
    background-color: #C4C4C4;
    border-radius: 50%;
}

.phi{
    position: relative;
    background-color: #C4C4C4;
    width: 120px;
    border-radius: 20%;
}

.imgest{
    width: 90px;
    padding: 1rem;
}

.imgphi{
    width: 90px;
    padding: 1rem;
}

.proest{
    position: relative;
    width: 1200px;
    height: 361px;
    left: 55px;
    top: 18.2px;

    background-color: #2A337A;
    border-radius: 40px;
}

.estafasact{
    position: relative;
    width: 213px;
    height: 83px;
    top: 25px;
    right: 40px;
    font-family: 'Cairo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;
}

.phishing{
    position: relative;
    left: 180px;
    bottom: 140px;
    font-family: 'Cairo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: #FFFFFF;
}

.estafas{
    position: absolute;
    text-align: center;
    width: 824px;
    height: 157px;
    left: 180px;
    top: -40px;
    font-family: 'Noto Serif', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 55px;

    color: #FFFFFF;
}

.prosgenest{
    position: absolute;
    text-align: center;
    width: 824px;
    height: 157px;
    left: 180px;
    top: 60px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 55px;

    color: #FFFFFF;
}

.barraestafa,
.barraestafa::after{
    position: relative;
    width: 900px;
    height: 90px;
    background-color: var(--blanco);
    border-radius: 80px;
    left: 80px;
    top: 180px;
    overflow: hidden;
}

.barraestafa::after{
    content: "";
    position: absolute;

    background-color: #49995a;
    transition: var(--boton);
    border-radius: 80px;
    left: -900px;
    top: 0px;
    animation: barraaa 1s ease-in-out forwards;
}



@keyframes barraaa{
    to{
        transform: translateX(var(--barraavance));
    }
}

.porcentaje{
    position: absolute;
    text-align: center;
    width: 80px;
    height: 157px;
    left: 1020px;
    top: 150px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 55px;

    color: #FFFFFF;
}

.bloque1{
    position: relative;
    top: 40px;
}

/*BotÃģn Cerrar SesiÃģn*/

#divboton{
    position: sticky;
}

.wrapper {
    filter: url('#goo');
}

.button {
    display: inline-block;
    text-align: center;
    background: var(--color);
    color: var(--bg);
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.25rem;

    left: 140px;
    bottom: 100px;
}

.button:before,
.button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--color);
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
}

.button:before {
    top: -25%;
    left: 20%;
}

.button:after {
    bottom: -25%;
    right: 20%;
}

.button:hover:before,
.button:hover:after {
    transform: none;
}

/*Acts*/

.btn-material {

    text-decoration: none;
    position: relative;
    bottom: 90px;

    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 5px;
    background-color: #C4C4C4;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: background-color 15ms linear,
      box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  
    height: 50px;
    line-height: 2.25rem;
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
  
.btn-material:hover, .btn-material:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
      0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #818181;
}
  
.btn-material:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: #776c95;
}