body{
    background: #9FA9FA;
}
.titulo{   
position: absolute;
width: 887px;
height: 155px;
left: 520px;
top: -80px;

font-family: Patua One;
font-style: normal;
font-weight: normal;
font-size: 144px;
line-height: 176px;
text-align: center;

color: #FFFFFF;
-webkit-text-stroke: 3px #4E537A;
}

.texto{
    position: absolute;
    width: 572px;
    height: 29px;
    left: 680px;
    top: 220px;

    font-family: 'Patua One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;
}

#imgmenu{
    position: absolute;
    width: 702px;
    height: 260px;
    left: 610px;
    top: 370px;
}

#botonessesion{
    position: absolute;
    top: 700px;
    left: 530px;
}

#iniciar{
    float: left;
    margin-right: 200px;
}

#crear{
    float: left;
    margin-left: 200px;
}

/*Botones*/

:root {
    --bg: #2A337A;
    --color: #eee;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

/*Iniciar Sesión*/

.wrapper {
    padding: 1.5rem 0;
    filter: url('#goo');
}

.button {
    display: inline-block;
    text-align: center;
    background: var(--color);
    color: var(--bg);
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.25rem;
}

.button:before,
.button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--color);
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
}

.button:before {
    top: -25%;
    left: 20%;
}

.button:after {
    bottom: -25%;
    right: 20%;
}

.button:hover:before,
.button:hover:after {
    transform: none;
}


/*Crear Cuenta*/


.button2 {
    display: inline-block;
    text-align: center;
    background: var(--bg);
    color: var(--color);
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.25rem;
}

.button2:before,
.button2:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--bg);
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
}

.button2:before {
    top: -25%;
    left: 20%;
}

.button2:after {
    bottom: -25%;
    right: 20%;
}

.button2:hover:before,
.button2:hover:after {
    transform: none;
}